.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HoverRow {
  width: 18rem;
  height: 20rem;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: 0 0rem 10px 0rem black;
}
.HoverRow:hover {
  color: white;
  transition: 0.5s;
  border: 2px solid white;
}
h1{
  font-size: 500%;
}
h4 {
  color: white;
  text-transform: uppercase;
  margin-top: -4rem;
  pointer-events: none;
}
.HoverRow:hover h4 {
  transform: translateY(-1.5rem);
  transition: 0.5s;
}
#sci {
  pointer-events: none;
  opacity: 0;
}
.HoverRow:hover #sci {
  opacity: 1;
  color: white;
  transition: 0.5s;
}
